<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-left">
      <p>Edit InfoUe</p>
      <button class="btn btn-gray" (click)="navigateToHome()">Home</button>
    </div>
  </nav>
  
  <div class="container mt-4">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nom:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.name" name="name" required>
      </div>
      <div class="form-group">
        <label>Code:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.code" name="code" required>
      </div>
      <div class="form-group">
        <label>Orientation:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.orientation" name="orientation" required>
      </div>
      <div class="form-group">
        <label>Cycle:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.cycle" name="cycle" required>
      </div>
      <div class="form-group">
        <label>Bloc d'Etudes:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.blocEtude" name="blocEtude" required>
      </div>
      <div class="form-group">
        <label>Quadrimestre:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.quadrimestre" name="quadrimestre" required>
      </div>
      <div class="form-group">
        <label>Langue:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.langue" name="langue" required>
      </div>
      <div class="form-group">
        <label>Langue d'evaluation:</label>
        <input type="text" class="form-control" [(ngModel)]="infoUe.langueEvaluation" name="langueEvaluation" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  