
<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-left">
      <p>Departement PAGE</p>
      <button class="btn btn-gray" (click)="navigateToHome()">Home</button>
    </div>
    <div class="navbar-right">
      <button class="btn btn-gray" (click)="navigateToAddDepartement()">Nouveau Departement</button>
    </div>
  </nav>

  
  <div class="container mt-4">
    <div class="table-responsive" style="height: 400px; overflow-y: auto;">
        <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Departement of departements">
          <td>{{ Departement.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="navigateToEditDepartement(Departement.id)">Edit</button>
            <button class="btn btn-danger" (click)="onDelete(Departement)">Delete</button>
        </td>
        </tr>
      </tbody>
    </table>
</div>
