
<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-left">
    <p>AA PAGE</p>
    <button class="btn btn-gray" (click)="navigateToHome()">Home</button>
  </div>
  <div class="navbar-right">
    <button class="btn btn-gray" (click)="navigateToAddActiviteApprentissage()">Nouvelle AA</button>
  </div>
</nav>

<div class="container mt-4">
  <div class="table-responsive" style="height: 400px; overflow-y: auto;">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Nom</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ActiviteApprentissage of activiteApprentissages">
                  <td>{{ ActiviteApprentissage.name }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="navigateToEditActiviteApprentissage(ActiviteApprentissage.id)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(ActiviteApprentissage)">Delete</button>
                 </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
